* {
      user-select: none;
      box-sizing: border-box;
}

body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      color: #d3d3d3;
      font: 12pt arial;
      background-color: #ffffff;
}

#network {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
}